<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Noteful</title>
    <link rel="stylesheet" href="CSS/index.css">
</head>

<body>

    <button id="edit">edit some</button>
    

<div class="tabs">


    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">Create Note</label>
    <div class="tab">
        <h1>Create Note</h1>
        <div id='Create_Note' class="tabcontent">
            <label for="title">Title</label>
            <p><input type="text" id="title" name="title" value="" required="required"></p>
            <label for="note">Note</label>
            <p><textarea name="content" id="content" cols="30" rows="10"></textarea></p>
            <label for="importance">Importance</label>
            <select name="importance" id="importance">
                <option value="" selected="selected">--Select importance--</option>
                <option value="Blocker" >Blocker</option>
                <option value="Critical" >Critical</option>
                <option value="Major" >Major</option>
                <option value="Minor">Minor</option>
                <option value="Trivial" >Trivial</option>
            </select>
            <label for="due date">chose due date</label>
            <p><input type="date" id="due" name="due" value=""/></p>
            <a>
                <button id="encode">Submit</button>
            </a>
        </div>
    </div>


    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">show Notes</label>
    <div class="tab" id="tabtwo2">
    <h1>See all Notes</h1>
    <div class="sortButton">
        <button id="byFinish">Sort by finish date</button>
        <button id="byCreation">sort by creation date</button>
        <button id="byImportance">Sort by Importance</button>
    </div>
        <div id="notes"></div>
    </div>

<!-- 
    <div class="modal">
        <div class="modalCont">
            <p class="exit">close modal &times;</p>
            <p>some content</p>
        
        </div>
    </div>  -->

    <!-- <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">By finish Date</label>
    <div class="tab" id="tabtwo2">
        <h1>Second Tab Content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.<a href="http://localhost:3000/notes" target="_blank">Info</a></p></br>
            <label for="note description">See all Notes</label><br>
        <div id="notes"></div>
    </div> -->


</div>

<script src="script