<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Noteful</title>
    <link rel="stylesheet" href="CSS/index.css">
</head>

<body>

<div class="tabs">

    <input type="radio" name="tabs" id="tabone" checked="checked">
    <label for="tabone">First Tab</label>
    <div class="tab">
        <h1>Create Note</h1>
        <div id='Create_Note' class="tabcontent">
            <p><input type="text" id="title" name="title" value=""/></p>
            <p><input type="text" id="content" name="content" value=""/></p>
            <select name="importance" id="importance">
                <option value="" selected="selected">--Select importance--</option>
                <option value="Blocker" selected="selected">Blocker</option>
                <option value="Critical" selected="selected">Critical</option>
                <option value="Major" selected="selected">Major</option>
                <option value="Minor" selected="selected">Minor</option>
                <option value="Trivial" selected="selected">Trivial</option>
            </select>
            <p><input type="text" id="due" name="due" value=""/></p>
            <a>
                <button id="encode">Submit</button>
            </a>
        </div>
    </div>

    <input type="radio" name="tabs" id="tabtwo">
    <label for="tabtwo">By finish Date</label>
    <div class="tab" id="tabtwo2">
        <h1>Second Tab Content</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.<a href="http://localhost:3000/notes" target="_blank">Info</a></p>
    </div>

    <input type="radio" name="tabs" id="tabthree">
    <label for="tabthree">By created Date</label>
    <div class="tab">
        <h1>Third tab content</h1>
        <p>hfioezhogehzioghz</p>
    </div>

    <input type="radio" name="tabs" id="tabfour">
    <label for="tabfour">By importance</label>
    <div class="tab">
        <h1>Third tab content</h1>
        <p>hfioezhogehzioghz</p>
    </div>


</div>

<script src="scripts/script.js"></script>

</body>

</html>