<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Noteful</title>
    <link rel="stylesheet" href="CSS/index.css">
</head>

<body>
<header>
    <h1>Noteful</h1>
</header>
<main>

    <article>
        <header>
            <h2>Note</h2>
        </header>
            <p><input type="text" for="title" name="title" value="" /></p>
            <p><input type="text" for="content" name="content" value="" /></p>
        <a> <button id="encode">Submit</button></a>
    </article>

    <script>
    document.getElementById("encode").addEventListener('click',myFunction);

            function myFunction() {
        let response = fetch('http://localhost:3000/notes', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        body: JSON.stringify({title: "title", content: "content"})

        }).then(response=>{
            console.log(response)
        })
    }
    </script>
</main>


</body>

</html>