.tabs {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 900px;
   
}

.tabs label {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: whitesmoke;
    font-weight: bold;
    transition: background ease 0.3s;
}


.tab label{
    padding: 0;
    justify-content: left;
    background-color: white;
}

.tabs .tab {
    overflow: scroll;
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    padding: 20px;
    box-shadow: -10px 10px 0px 0px black;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    background: #fff;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}
body {
    background: #00a2ff;
    min-height: 85vh;
    box-sizing: border-box;
    padding-top: 10vh;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 110%;
    display: flex;
    justify-content: center;
    align-items: center;

}


#theme{
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: 1px;
    width: 280px;
    box-shadow: 0px 5px 5px 0px black;
    float: right;
}
@media screen and (max-width: 360px) {
    body{
        width: 95%;
    }
    #theme{
        display: inline-block;
        justify-content: center ;
        padding: 1px;
        width: 280px;
        box-shadow: 0px 5px 5px 0px black;

    }
    .tabs label, .tab, .tab label {
        width: 100%;
        margin-left: 50px;
        text-align: center;
        display: inline
    }

    .allSortBtn{
        display: grid;
        grid-template-columns: repeat(3, 20%);
        padding: 0;
        box-shadow: 0px 5px 5px 0px black;
    }


} 

 

#done{
    margin: 20px;
}



/* changes */


#encode{
    width: 300px;
}



.tab2{
    display: grid;
    grid-template-columns: repeat(4, fr);
}

#note{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    border: black solid 1px;
    padding: 10px;
    row-gap: 0;
    margin: 20px;
}


.note-title{
    font-family: Arial, Helvetica, sans-serif;

}

.note-content{
    overflow: auto;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;

}


#edit{
    background-color: lightskyblue;
    color: white;
    border: 0;
    border-radius: 7px;
    padding: 10px 30px;
    height: 50px;
    width: 90px;
    /* align-items: center; */
}


#edit:hover{
    background-color: lightblue;
}
#finished{

    padding: 0px;
    /* align-items: center; */
}
#finish{
    background-color: lightskyblue;
    color: white;
    border: 0;
    border-radius: 7px;
    padding: 10px 30px;
    height: 50px;
    width: 90px;
    /* align-items: center; */
}


#finish:hover{
    background-color: lightblue;
}

nav{
    display: grid;
    
}

.allSortBtn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    box-shadow: 0px 5px 5px 0px black;

}



 .modal{
    position: fixed;
    display:none;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s ;
    animation-name: fadeIn;
    animation-duration: 0.4s ;
    height: 600px;
    width: 900px;
    transition: 0.5s ease;
    
}


.contEdit{
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 50px;
}

.contEdit label{
    background-color: whitesmoke;
    padding: 0;
    justify-content: left;

}

input{
    padding: 4px 6px;
    border: 1px solid black;
    background-color: white;
}

.error{
    border-color: red;
    background-color: #fff8f5;
    color: red;
    content: "pleas fill out this field";
}


.darkMode{
    background-color: green;
}
.darkMode #edit{
    background-color: green;
    /* align-items: center; */
}
.darkMode .tab {
    background-color: rgb(123, 123, 211);
}
.darkMode .tabs label {
    background-color: rgb(123, 123, 211);
}

.darkMode .contEdit{
    background-color: rgb(123, 123, 211);
}